
<footer class="bd-footer mt-5 bg-dark text-center text-white">
    <div class="container p-4 pb-0">
        <section class="mb-4">
            <a href="https://twitter.com/Acrol9" style="background-color: #55acee;" role="button" class="btn btn-outline-light btn-floating m-1">
                <svg class ="bi" width="1em" height="1em" fill="white">
                    <use xlink:href="resources/bootstrap-icons.svg#twitter"></use>
                </svg>
            </a>
            <a href="https://www.instagram.com/5eb4_lg/" style="background-color: #ac2bac;" role="button" class="btn btn-outline-light btn-floating m-1">
                <svg class ="bi" width="1em" height="1em" fill="white">
                    <use xlink:href="resources/bootstrap-icons.svg#instagram"></use>
                </svg>
            </a>
            <a href="https://www.linkedin.com/in/seba-lorca-g/" style="background-color: #0082ca;" role="button" class="btn btn-outline-light btn-floating m-1">
                <svg class ="bi" width="1em" height="1em" fill="white">
                    <use xlink:href="resources/bootstrap-icons.svg#linkedin"></use>
                </svg>
            </a>
            <a href="https://github.com/Acr0l" style="background-color: #333333;" role="button" class="btn btn-outline-light btn-floating m-1">
                <svg class ="bi" width="1em" height="1em" fill="white">
                    <use xlink:href="resources/bootstrap-icons.svg#github"></use>
                </svg>
            </a>
        </section>
    </div>
    <div class="text-center text-light bg-secondary p-3">
        <span class="text-white-50 text-center">
            Kimm
        </span>
    </div>
</footer>