<header>
  <div style="display: flex; align-items: center">
    <img src="/img/logo.png" alt="LOGO" />
    <nav class="">
      <div class="">
        <a class="navbar-brand" href="/">Home</a>
        <div class="">
          <ul>
            <li class="nav-item">
              <a class="nav-link" href="/about" disabled>About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/hub">Hub</a>
            </li>
            <li class="nav-iten">
              <a href="/pricing" class="nav-link" disabled>Pricing</a>
            </li>
            <li class="nav-iten">
              <a href="/play" class="nav-link" disabled>Kimm Games</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/account" disabled>User</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div style="align-items: right; padding: 10px; display: flex">
    <div class="container">
		<form action="/login" method="get">
			<input type="hidden" name="type" value="login">
			<button type="submit">Login!</button>
		</form>
    </div>
    <div class="container">
		<form action="/register" method="get">
			<input type="hidden" name="type" value="register">
			<button type="submit">Register</button>
		</form>
    </div>
  </div>
</header>
