<div
  class="sidebar bar-block white"
  style="display: none; z-index: 2; width: 25%"
  id="mySidebar"
>
  <button onclick="kEdSidebarClose()" class="bar-item button">Close</button>
  <a class="bar-item button" href="/hub/classes">Classes</a>
  <a class="bar-item button" href="">Calendar</a>
  <a class="bar-item button" href="">To-do</a>
  <a class="bar-item button" href="">Settings</a>
</div>
