<aside>
  <div
    class="sidebar bar-block white"
    style="display: none; z-index: 2; width: 25%"
    id="mySidebar"
  >
    <button onclick="kEdSidebarClose()" class="bar-item button">Close</button>
    <a class="bar-item btn-hub" href="/hub/classes">Classes</a>
    <a class="bar-item btn-hub" disabled href="">Calendar</a>
    <a class="bar-item btn-hub" disabled href="">To-do</a>
    <a class="bar-item btn-hub" disabled href="">Settings</a>
  </div>
</aside>
