
<section>
  <div class="container center">
    <div class="form">
      <form action="/login" method="post" autocomplete="off">
        <div class="form-group">
          <input
            title="Email"
            class="form-control rounded-input center-text"
            type="text"
            name="email"
            id="emailInput"
            placeholder="Email"
            required
            autofocus
          />
        </div>
        <div class="form-group">
          <input
            title="Password"
            class="form-control rounded-input center-text"
            type="password"
            name="password"
            id="passwordInput"
            placeholder="Password"
            required
          />
        </div>
        <div class="form-group">
          <input value="Login" class="btn" type="submit">
          <input class="btn secondary-theme btn-secondary" type="reset" />
        </div>
      </form>
    </div>
  </div>
</section>
