.studyset {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#activity-title {
  text-align: center;
  margin-top: 2em;
}
#card-area {
  width: 70%;
  height: 500px;
  margin: 0 auto;
  border: 3px solid #abb7b7;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  word-wrap: normal;
  text-overflow: clip;
}

.card-text {
  padding : 1em;
}
#next-button {
  width: 80px;
  text-align: center;
  font-size: 1.25vw;
  padding: 10px;
  cursor: pointer;
  color: #efefef;
  margin: auto;
  margin-top: 1.875em;
  background-color: #019875;
  border: 2px solid #1e824c;
  border-radius: 5px;
}
#next-button:hover {
  opacity: 0.6;
}
#final-message {
  text-align: center;
  font-size: 1.875vw;
  margin-top: 1.875em;
}

@media (min-with: 601px) {
  #activity-title {
    font-size: 2.5em;
  }
  .card-text {
    font-size: 1.25em;
    color:#019875;
  }
  #next-button {
    width: 100px;
  }
  #final-message {
    font-size: 1.25em;
  }
}

@media (max-width: 600) {
  #activity-title {
    font-size: 1.5em;
  }
  #card-area {
    width: 95%;
  }
  .card-text{
    font-size: 1em;
  }
  #next-button {
    font-size: 1em;
  }
  #final-message {
    font-size: 1em;
  }
}

@media (min-with: 800px) {
  #activity-title {
    font-size: 3em;
  }
  #card-area {
    width: 70%;
  }
  .card-text {
    font-size: 3em;
  }
  #next-button {
    font-size: 1.5em;
  }
  #final-message {
    font-size: 1.5em;
  }
  
}
