<section class="home-banner-area relative light-theme">
  <div class="container-fluid">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="header-right col-lg-6">
        <h1>About Us</h1>
        <p class="pt-20">
          Kimm was founded by a group of students who are working to impact the
          community through a platform that will inspire students and provide
          tools to learn and work along friends and teachers alike.
        </p>
      </div>
      <div class="col-lg-6 col-md-6 header-left">
        <div class="">
          <img
            class="img-fluid w-100"
            src="img/monke.jpg"
            alt="Kimm Education logo"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="team-banner relative light-theme">
  <div class="container-fluid">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-lg-6 col-md-6 header-left">
        <div class="">
          <img
            class="img-fluid w-100"
            src="img/seba.jpg"
            alt="Kimm Education logo"
          />
        </div>
      </div>
      <div class="header-left col-lg-6">
        <h1>Sebastian Lorca</h1>
        <blockquote class="blockquote">
          <p class="pt-20">
            Sebastian enjoys reading fiction novels (The Name of The Wind is a
            treasured novel for him), playing the guitar, listening to music,
            and watching series. Being surrounded by information and technology
            is what led him to pursue a path towards Computer Science, and has
            been developing multiple platforms to achieve that goal.
          </p>
        </blockquote>
      </div>
    </div>
  </div>
</section>
