
<section>
    <div class="container center">
      <div class="form">
        <form action="/contact" method="post" autocomplete="off">
            <h1>Reach us for more info!</h1>
          <div class="form-group">
            <input
              title="Name"
              class="form-control rounded-input center-text"
              type="text"
              name="name"
              id="nameInput"
              placeholder="Name"
              required
              autofocus
            />
          </div>
          <div class="form-group">
            <input
              title="Email"
              class="form-control rounded-input center-text"
              type="email"
              name="email"
              id="emailInput"
              placeholder="Email"
              required
            />
          </div>
          <div class="form-group">
              <label for="message">Message</label>
                <textarea
                    title="Message"
                    class="form-control rounded-input center-text"
                    name="message"
                    id="message"
                    rows="5"
                    placeholder="Message"
                    required
                ></textarea>
          </div>
          <div class="form-group">
            <input value="Send" class="btn" type="submit">
            <input class="btn secondary-theme btn-secondary" type="reset" />
          </div>
        </form>
      </div>
    </div>
  </section>
  