<section>
    <!-- <iframe
        height="500"
        frameborder="0"
        src="https://itch.io/embed/1530607"
        width="552"
        crossorigin="anonymous"
        ><a href="https://danielmontejo.itch.io/numturn"
            >Numturn by Kimm</a
        ></iframe
    > -->
    <a
        href="https://danielmontejo.itch.io/numturn"
        style="font-size: 30px; text-decoration: none"
    >
        <div class="btn button">
            <span>
                <i class="fas fa-play"></i>
            </span>
            <span>Play Now</span>
        </div>
    </a>
</section>
