<section class="home-banner-area relative light-theme">
  <div class="container-fluid">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="header-right col-lg-6">
        <h1>
          Thinking <br />
          further
        </h1>
        <p class="pt-20">
          Kimm is a platform for students looking for the right time and place
          to learn. <br />
          And we are here to help you find it.
        </p>
        <a href="/login" class="main_btn"> Get Started </a>
      </div>
      <div class="col-lg-6 col-md-6 header-left">
        <div class="">
          <img
            class="img-fluid w-100"
            src="img/monke.jpg"
            alt="Kimm Education logo"
          />
        </div>
      </div>
    </div>
  </div>
</section>
