<section>
    <div class="light-theme container">
        <p>
            Kimm Hub is a place to find classes and meet people.
        </p>
        <p>
            <a href="/hub/class/add" class="button">Create a Class</a>
        </p>
    
    </div>
</section>
