<section class="studyset">
    <div class="container">
        <h1 id="activity-title" ></h1>
    </div>
    <!-- TODO: Toggle description -->
    <h2 id="studyset-description"></h2>

    <div id="card-area"></div>
    <div id="button-area"></div>

</section>
